/* react app settings */
.App {
  text-align: center;
  font-family: Raleway, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url("https://fonts.googleapis.com/css?family=Raleway:400");
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
    /* nav */
    .navbar {
      background-color: transparent;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index:999;
    }

    /* nav logo */
    .navbar img {
      height: 40px;
      margin-right: 10px;
    }
    #i1{
      position: absolute;
      left: 50px;
      top: -43px;
      width: 150px;
      height: 150px;
    }
    #i2{
      display: flex;
      margin-top: 13px;
      margin-right: 150px;
      margin-left: 150px;
      width: 130px;
      height: 130px;
    }
    #s{
      position: absolute;
      right: 100px;
      top: 17px;
      z-index: 999;
    }
    .navbar .logo-text {
      font-size: 20px;
      font-weight: bold;
      color: #e7d722;
    }
    /* The slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 30px;
    }
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:#e7d722;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 4px;
      background-color: #000000;
      -webkit-transition: .4s;
      transition: .4s;
    }
    input:checked + .slider {
      background-color: #f9ef93;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #645b0a;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    .slider.round {
      border-radius: 30px;
    }
    .slider.round:before {
      border-radius: 50%;
    }

*{
    margin: 0px;
    padding: 0px;
}
/* background settings */
.area{
    background: #000000;  
    background: -webkit-linear-gradient(to left, #25251e, #000000);  
    width: 100%;
    height:100vh;
    
   
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(227, 202, 14);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* main page settings */
.block {
  position: relative;
  margin: 10% auto 0;
  width: 13%;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(0deg, #000, #272727);
  z-index: 999;
}
.moving-glow:before, .moving-glow:after {
  content: '';
  position: absolute;
  left: -4px;
  top: -4px;
  background: linear-gradient(45deg, #FADA5E, #e0d693, #ffff00,#ffff00, #ffff00, #FADA5E, 
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 50%;
  z-index:-1;
  animation: anim-moving-glow 20s linear infinite;
}
@keyframes anim-moving-glow {
  0% {
      background-position: 0 0;
  }
  50% {
      background-position: 400% 0;
  }
  100% {
      background-position: 0 0;
  }
}
.moving-glow:after {
  filter: blur(30px);
}
.m-container{
  display: flex;
  justify-content: space-around;
}
#b1{
  display: flex;
  right: -90px;
}
#b2{
  display: flex;
  bottom: -250px;
}
#b3{
  display: flex;
  left: -90px;
}
#mi{
  width: 280px;
  position: absolute;
  right: 630px;
  top: 100px;
  animation: 8s anim-lineUp ease-out ;
}
.lineUp {
  position: absolute;
  right: 60px;
  bottom: 20px;
  font-weight: bold;
  animation: 2s anim-lineUp ease-out ;
}
.mlog{
  position: absolute;
  width: 300px;
  z-index: 999;
}
#log1{
  right: 1200px;
  bottom: -20px;
  animation: 8s anim-lineUp ease-out ;
}
#log2{
  left: 1000px;
  bottom: -20px;
  animation: 8s anim-lineUp ease-out ;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
#mh2{
  position: absolute;
  right: 75px;
}
#mh1{
  position: absolute;
  right: 50px;
}
.energy{
  width: 120px;
  position: absolute;
  right: 40px;
  top: 28px;
  animation: 4s anim-lineUp ease-out ;
}
.garbage{
  width: 140px;
  position: absolute;
  right: 32px;
  top: 20px;
  animation: 4s anim-lineUp ease-out ;
}
.gun{
  width: 380px;
  position: absolute;
  right: -90px;
  top: -100px;
  animation: 4s anim-lineUp ease-out ;
}
/* About us settings */
.big-container-aboutus{
  display: flex;
  justify-content: space-around;
  /* display: flex; */
}
#aboutus-container{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 60px;
  z-index: 999;
  animation: 2s anim-lineUp ease-out ;

}
.intro{
  width: 400px;
}
#aziz{
margin-right: 350px;
}
/* about us border settings */
*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #ffcc00;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#ffff00, #ffff00), linear-gradient(#585403, #585403), linear-gradient(#ffff00, #ffff00), linear-gradient(#585403, #585403);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
		animation: opacityChange 3s infinite alternate;
	}
}

@keyframes opacityChange {
	50% {
		opacity:1;
	}
	100% {
		opacity: .5;
	}
}
/* Gameplay settings */
.gameplay-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gameplay-second-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  top: -300px;
}
.big-gameplay-container{
  position:absolute;
  bottom: 300px;
  right: 1080px;
  z-index: 999;
}
#img-container1{
  position: absolute;
  right: -1000px;
}
#img-container2{
  position: absolute;
  right: -800px;
}
.game-img1{
  width: 400px;
  margin-left: 4px;
  z-index: 999;
}
#gi{
  width: 280px;
  position: absolute;
  right: 42%;
  bottom: 52%;
  z-index: 999;
  animation: 8s anim-lineUp ease-out ;

}
.gameplay-border{
  position: relative;
  width: 410px;
  padding-top:5px ;
  padding-bottom: 2px;
	z-index: 999;
	border-radius: 10px;
	overflow: hidden;
  animation: 4s anim-lineUp ease-out ;


&::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #ffcc00;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#ffff00, #ffff00), linear-gradient(#585403, #585403), linear-gradient(#ffff00, #ffff00), linear-gradient(#585403, #585403);
  animation: rotate 4s linear infinite;
}

&::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
  animation: opacityChange 3s infinite alternate;
}
}
#img-game-3{
  position: absolute;
  top: 550px;
  left: 500px;
}
h2{
  background-color: #efe8a000;
}
/* light mode settings */
.new-class {
  background: #ffffff;  
    background: -webkit-linear-gradient(to left, #25251e, #000000);  
    width: 100%;
    height:100vh;
    font-family: Raleway, sans-serif;
    text-align: center;
  }